.works {
    height: fit-content;
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.works a {
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 800px){
    .worksList {
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }
}