nav {
    background-color: #b1b1b1;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}

nav h1 {
    font-family: 'Megrim';
    margin-left: 10px;
}

nav div {
    display: flex;
}

nav div a {
    display: flex;
    justify-content: center;
}

nav img {
    height: 25px;
    margin-right: 10px;
}
