.about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: center;
    max-height: fit-content;
    background: black;
    background-size: cover;
    background-position: center;
    color: white;
}

$quantity: 100;

.firefly {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 0.4vw;
  height: 0.4vw;
  margin: -0.2vw 0 0 9.8vw;
  animation: ease 200s alternate infinite;
  pointer-events: none;
  &:before,
  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform-origin: -10vw;
  }

  &:before {
    background: black;
    opacity: 0.4;
    animation: drift ease alternate infinite;
  }

  &:after {
    background: white;
    opacity: 0;
    box-shadow: 0 0 0vw 0vw yellow;
    animation: drift ease alternate infinite, flash ease infinite;
  }
}

// Randomize Fireflies Motion
@for $i from 1 through $quantity {
    $steps: random(12) + 16;
    $rotationSpeed: random(10) + 8s;

    .firefly:nth-child(#{$i}) {
        animation-name: move#{$i};

        &:before {
            animation-duration: #{$rotationSpeed};
        }

        &:after {
            animation-duration: #{$rotationSpeed}, random(6000) + 5000ms;
            animation-delay: 0ms, random(8000) + 500ms;
        }

        @keyframes move#{$i} {
            @for $step from 0 through $steps {
                #{$step * calc(100 / $steps) + '%'} {
                    transform: translateX(random(100) - 50vw) translateY(random(100) - 50vh) scale(calc(random(75) / 100 + .25));
                }
            }
        }
    }
}

@keyframes drift {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

@keyframes flash {
    0% {
        opacity: 0;
        box-shadow: 0 0 0vw 0vw yellow;
    }
    5% {
        opacity: 1;
        box-shadow: 0 0 2vw 0.4vw yellow;
    }
    30% {
        opacity: 0;
        box-shadow: 0 0 0vw 0vw yellow;
    }
    100% {
        opacity: 0;
        box-shadow: 0 0 0vw 0vw yellow;
    }
}

.about-me > * {
    padding-bottom: 5px;
}

.about-me > h2,
.about-me > p {
    mix-blend-mode: exclusion;
}

.stage {
    width: 300px;
    height: 300px;
    display: inline-block;
    margin-bottom: 30px;
    pointer-events: none;
}

.about-me img {
    width: 100%;
    border-radius: 50%;
    max-width: 350px;
    z-index: 3;
    position: relative;
    mix-blend-mode: exclusion;
    animation: hue 3s infinite ease-in-out;
    opacity: .4;
}

@keyframes hue {
    0%  { filter: sepia(0) hue-rotate(0deg) brightness(100%) saturate(0); }
    50% { filter: sepia(100%) hue-rotate(100deg) brightness(60%) saturate(200%); }
    100% { filter: sepia(0) hue-rotate(0deg) brightness(100%) saturate(0); }
}

.ball {
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    position: relative;
    background: radial-gradient(circle at bottom, #81e8f6, #76deef 10%, #055194 80%, #062745 100%);
    bottom: 102%;
    &:before {
        content: "";
        position: absolute;
        top: 1%;
        left: 5%;
        width: 90%;
        height: 90%;
        border-radius: 100%;
        background: radial-gradient(circle at top, white, rgba(255, 255, 255, 0) 58%);
        filter: blur(5px);
        z-index: 2;
    }
    &:after {
        content: "";
        position: absolute;
        display: none;
        top: 5%;
        left: 10%;
        width: 80%;
        height: 80%;
        border-radius: 100%;
        filter: blur(1px);
        z-index: 2;
        transform: rotateZ(-30deg);
    }
}

.ball.shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0) 50%);
    transform: rotateX(90deg) translateZ(-160px);
    z-index: 1;
}

.ball.plain {
    background: black;
    &:before {
        display: none;
    }
    &:after {
        display: none;
    }
}

.ball.bubble {
    background: radial-gradient(circle at 50% 55%, rgba(240, 245, 255, 0.2), rgba(240, 245, 255, 0.2) 40%, rgba(225, 238, 255, 0.2) 60%, rgba(43, 130, 255, 0.2));
    &:before {
        filter: blur(0);
        // height: 80%;
        // width: 40%;
        background: radial-gradient(circle at 130% 130%, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0) 46%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0.8) 58%, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0) 100%);
        transform: translateX(131%) translateY(58%) rotateZ(168deg) rotateX(10deg);
    }
    &:after {
        display: block;
        background: radial-gradient(circle at 50% 80%, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 74%, white 80%, white 84%, rgba(255, 255, 255, 0) 100%);
    }
}

.about-me a {
    text-decoration: none;
    color: black;
}

#resumeButton {
    background-color: white;
    font-size: xx-large;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
    &:hover {
        cursor: pointer;
        transform: scale(1.1);
        transition: all .2s ease-in-out;
    }
}

@media screen and (max-width: 610px) {
    .about-me {
        background-size: 200%;
    }
}
